@charset "UTF-8";
:root {
  --background-color: #19161B;
  --color-text__white: #FFFFFF;
  --color-text__black:#2E2D33;
  --color-text__gray: #B8B8B8;
  --color-text__gray2:#C4E4EA;
  --color-site__buttons: #FFC492;
  --color-text__brown: #FFB577;
  --color-text__blue:#C4E4EA;
  --background-cards: rgba(0, 0, 0, 0.16);
  --background-cards-menu:#1F1D21;
}

body {
  background-color: var(--background-color);
  color: var(--color-text__white);
}

.wrapper {
  max-width: 1278px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 48px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--color-site__buttons);
  color: var(--color-text__black);
}
.button .arrow {
  display: block;
  content: "";
  background: url(../icons/Arrow_black.svg);
  width: 21px;
  height: 8px;
}

.title {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 121%;
  margin-top: 74px;
  color: var(--color-text__white);
  opacity: 0.87;
}

.subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--color-text__gray);
  margin-top: 16px;
}

.header__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Playfair Display";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text__brown);
}

.border {
  display: block;
  content: "";
  background: url(../icons/Line.svg);
  width: 48px;
  height: 1px;
  margin-left: 16px;
}

.mod__fz {
  font-size: 48px;
  margin-top: 24px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  font-family: "Poppins";
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul li {
  padding-right: 50px;
}
header nav ul li .logo {
  display: block;
  content: "";
  background: url(../icons/Logo.svg);
  width: 96px;
  height: 20px;
}
header nav ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-text__white);
}
header .header__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color-site__buttons);
  transition: 0.3s;
}
header .header__btn span {
  position: relative;
  padding-right: 12px;
}
header .header__btn .arrow {
  display: block;
  content: "";
  background: url(../icons/Arrow_white.svg);
  width: 21px;
  height: 8px;
  transition: 0.3s;
}

main .welcome {
  display: flex;
  flex-direction: row;
  margin-top: 124px;
}
main .welcome .welcome__text {
  width: 624px;
  margin-right: 32px;
}
main .welcome .welcome__text .button {
  margin-top: 32px;
}
main .welcome .welcome__text .button span {
  padding-right: 8px;
}
main .welcome .welcome__text .button .arrow {
  display: block;
  content: "";
  background: url(../icons/Arrow_black.svg);
  width: 21px;
  height: 8px;
}
main .welcome .welcome__text .header__subtext {
  margin-top: 40px;
}
main .welcome .welcome__text .header__subtext:first-child {
  margin-top: 40px;
}
main .welcome .welcome__text .header__subtext .text__medium {
  margin-top: 16px;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text__white);
}
main .welcome .welcome__text .header__subtext .subtext__medium {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: var(--color-text__white);
  opacity: 0.6;
}
main .know__more {
  display: flex;
  flex-direction: row;
  margin-top: 160px;
}
main .know__more .know__more-info {
  width: 635px;
  margin-right: 109px;
}
main .know__more .know__more-info .know__more-text .subtitle {
  width: 630px;
  padding-top: 32px;
}
main .know__more .know__more-info .features {
  display: flex;
  flex-direction: row;
}
main .know__more .know__more-info .features .feature {
  width: 187px;
  margin-top: 40px;
  text-align: left;
  margin-right: 32px;
}
main .know__more .know__more-info .features .feature .feature__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
main .know__more .know__more-info .features .feature .feature__header .feature__header--logo {
  display: block;
  content: "";
  background: url(../icons/Icon.svg);
  background-repeat: no-repeat;
  width: 13px;
  height: 31px;
  margin-right: 7px;
}
main .know__more .know__more-info .features .feature .feature__header .feature__header--text {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-text__blue);
}
main .know__more .know__more-info .button {
  margin-top: 32px;
}
main .know__more .feature__img {
  display: flex;
  flex-direction: row;
}
main .know__more .feature__img img {
  width: 240px;
  height: 500px;
}
main .know__more .feature__img :first-child {
  margin-top: 81px;
  margin-right: 67px;
}

.serving {
  margin-top: 160px;
}
.serving .serving__header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.serving .serving__header .title {
  width: 660px;
  margin-right: 58px;
}
.serving .serving__header .mod__width {
  width: 549px;
}
.serving .serving__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 65px;
  background-color: var(--background-cards);
}
.serving .serving__cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 298px;
  height: 216px;
  margin: 64px 64px 128px 64px;
}
.serving .serving__cards .card .card__icon-1 {
  display: block;
  content: "";
  background: url(../icons/IconTort.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__icon-2 {
  display: block;
  content: "";
  background: url(../icons/iconCola.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__icon-3 {
  display: block;
  content: "";
  background: url(../icons/IconBurger.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__icon-4 {
  display: block;
  content: "";
  background: url(../icons/IconDrink.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__icon-5 {
  display: block;
  content: "";
  background: url(../icons/IconMeet.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__icon-6 {
  display: block;
  content: "";
  background: url(../icons/IconMacaroni.svg);
  width: 48px;
  height: 48px;
}
.serving .serving__cards .card .card__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--color-text__white);
  margin-top: 24px;
}
.serving .serving__cards .card .subtitle {
  margin-top: 12px;
}

.menu {
  margin-bottom: 165px;
}
.menu .menu__header {
  display: flex;
  flex-direction: row;
}
.menu .menu__header .menu__title .title {
  width: 450px;
  margin-right: 268px;
}
.menu .menu__header .menu__title .subtext {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: var(--color-text__blue);
  margin-top: 32px;
}
.menu .menu__header .menu__title .mod__width {
  width: 499px;
}
.menu .menu__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 31px;
  margin-top: 83px;
}
.menu .menu__cards .menu__card {
  width: 405px;
  height: 351px;
  background-color: var(--background-cards-menu);
}
.menu .menu__cards .menu__card .card__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text__white);
  opacity: 0.87;
  padding: 24px 32px 24px 32px;
}
.menu .menu__cards .menu__card .card__name :last-child {
  font-family: "Poppins";
}
.menu .button {
  margin: auto;
  margin-top: 40px;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--background-cards-menu);
}
.quote .quote__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 436px;
  border-bottom: 1px solid var(--color-text__gray);
  margin-left: 159px;
  margin-bottom: 84px;
}
.quote .quote__info .symbol {
  display: block;
  content: "";
  background: url(..//icons/“.svg);
  width: 27px;
  height: 21px;
  margin-top: 80px;
  margin-bottom: 43px;
}
.quote .quote__info .text {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 150%;
  color: var(--color-text__gray);
}
.quote .quote__info .profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 72px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-text__white);
  padding-bottom: 22px;
}
.quote .quote__info .profile .name {
  opacity: 0.87;
}
.quote .quote__info .profile .surname {
  opacity: 0.6;
}
.quote video {
  flex: 1;
}

.blog {
  margin-bottom: 160px;
}
.blog .blog__cards {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 31px;
}
.blog .blog__cards .blog__card {
  width: 405px;
  height: 526px;
  background-color: var(--background-cards-menu);
}
.blog .blog__cards .blog__card .blog__info {
  padding: 32px;
}
.blog .blog__cards .blog__card .blog__info .card__date {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: var(--color-text__gray);
}
.blog .blog__cards .blog__card .blog__info .card__title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  color: var(--color-text__white);
  opacity: 0.87;
}
.blog .blog__cards .blog__card img {
  background-size: 100%;
  background-position: top center;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 165px;
}
.contact .contact__info {
  background-color: var(--background-cards-menu);
  width: 441px;
  height: 532px;
  padding-left: 64px;
  padding-top: 80px;
}
.contact .contact__info h4 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--color-text__white);
  padding-top: 32px;
}
.contact .contact__info h4:first-child {
  padding-top: 0px;
}/*# sourceMappingURL=style.css.map */